.update-modal {
  --primary-color: rgb(224 30 90);

  .update-modal__mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100vw;
    height: 100vh;
    background: rgb(0 0 0 / 45%);
  }

  .update-modal__warp {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 19;
  }

  .update-modal__content {
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 0 10px -4px rgb(130 86 208);

    .content__header {
      display: flex;
      line-height: 38px;
      background-color: var(--primary-color);

      .content__header-text {
        font-weight: bold;
        width: 0;
        flex-grow: 1;
      }
    }

    .update-modal--close {
      margin: 4px;
      height: 30px;
      width: 30px;

      text-align: center;
      line-height: 34px;
      cursor: pointer;

      svg {
        width: 17px;
        height: 17px;
      }
    }

    .content__body {
      padding: 10px;
      color: #333;
      background-color: #fff;
    }

    .content__footer {
      display: flex;
      justify-content: flex-end;
      padding: 10px;
      background-color: #fff;

      button {
        padding: 7px 11px;
        margin-left: 10px;
        font-size: 14px;
        background-color: var(--primary-color);

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  .icon {
    padding: 0 15px;
    width: 20px;
    fill: currentcolor;

    &:hover {
      color: rgb(0 0 0 / 40%);
    }
  }
}
